.article {
  padding: 40px 0 150px;
  display: flex;
  align-items: center;

  &__container {
    .container();
  }

  &__content {
    max-width: 830px;

  }

  &__title {
    display: flex;
    justify-content: center;
    color: @black;
    font-family: @font2;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__picture {
    display: flex;
    justify-content: center;
  }

  &__Sade {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 506px;
    height: 532px;
    // align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;

    // padding: 80px 702px 80px 712px ;
    @media @bw1340 {
      width: 426px;
      height: 456px;
    }

    @media @bw768 {
      width: 245px;
      height: 262px;
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    // margin-top: 303px;
    font-family: @font3;
    color: @black;
    margin-right: 58px;

    &--right {
      margin-left: 51px;
      text-align: left;
    }
  }
  &__text {
   display: flex;
   font-family: @font3;
    color: @black;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;

    &--300 {
      display: flex;
      justify-content: center;
      font-size: 30px;
    font-weight: 300;
    }

    &--700 {
      display: flex;
      transform: translateY(13px) translateX(12px);
      font-size: 16px;
    font-weight: 700;
    }
  }

  &__text-bottom {
text-align: right;
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
  }

  &__feature {
    
    margin-bottom: 0px;
    margin-top: 0px;

    &--180g {
      
transform: rotate(180deg);
 
    }
    
  }

   
}