.article {
  &__title {
    display: flex;
    justify-content: center;
    color: @black;
    font-family: @font1;
    font-size: 70px;
    font-weight: 500;
  }

  &__Sade {
  display: flex;
  justify-content: center;
  padding: 80px 702px 80px 712px ;

}
}