.events {
  padding: 140px 100px;
//  position: relative;
//      background-image: url("src/assets/images/rectangle.png");
//     background-position: 0 0, 0 0;
//     background-size: 1920px 1236px;
//     background-repeat: repeat, repeat-y;
  &__container {
    .container();
  }

  &__listing {
    margin-bottom: 100px;
   
  }

  // &__services {
  //   .container();
  // }

  &__paragraph {
    position: relative;
    display: flex;
    width: 868px;
    color: @black;
    text-decoration: none;
    font-family: @font1;
    font-weight: 700;
    font-size: 16px;
  }

}