.events {
  padding: 110px 0 100px;

  @media @bw1340 {
    padding: 100px 0 100px;
  }

  @media @bw768 {
    padding: 50px 0 35px;
  }

  @media @bw370 {
    padding: 60px 0 100px;
  }
}

&__container {
  .container();

  &__listing {
    display: block;
    margin-bottom: 100px;
  }

  &__services {
    margin-top: 100%;
  }

  &__span {
    display: flex;
    align-items: center;
    grid-area: span;
    font-family: @font1;
    font-weight: 600;
    font-size: 16px;
    background-color: @black;
    text-decoration: none;
    transition: color 0.2s;
  }
}