.events {
  padding: 140px 0 100px;
}

&__container {
  .container();
  
  &__listing {
    display: block;
    margin-bottom: 100px;
  }

  &__paragraph {
    position: relative;
    display: flex;
    margin-bottom: 60px;
    width: 868px;
    color: @black;
    text-decoration: none;
    font-family: @font1;
    font-weight: 400;
    font-size: 16px;


    @media @bw1340 {
      width: 829px;
    }

    @media @bw1020 {
      width: 707px;
    }

    @media @bw960 {
      width: 500px;
    }

    @media @bw768 {
      width: 400px;
    }

    @media @bw600 {
      width: 300px;
    }

    @media @bw400 {
      width: 208px;
    }
  }

  &__services {
    margin-top: 100%;
  }

  &__span {
    display: flex;
    align-items: center;
    grid-area: span;
    font-family: @font1;
    font-weight: 600;
    font-size: 16px;
    background-color: @black;
    text-decoration: none;
    transition: color 0.2s;
   
  }
}