.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .container();

  &__events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 120px 58px;
     @media @bw1660 {
      justify-content: center;
      gap: 90px 40px;
      margin: 0 -20px -100px;
    }
     @media @bw1340 {
      justify-content: center;
      margin: 0 -15px -100px;
    }
    @media @bw1020 {
      justify-content: center;
      gap: 80px 30px;
    }

     @media @bw768 {
      margin: 0 -10px -80px;
    }
    @media @bw650 {
      gap: 60px 0;
      margin: 0 0 -60px;
    }
  }

    &__event-card {
    width: calc(33.3333% - 38.666px);
    &:nth-child(3n) {
      margin-right: 0;
    }
    
    @media @bw1660 {
      width: calc(33.3333% - 26.666px);
      margin: 0 20px 100px;
    }
    @media @bw1340 {
      width: calc(33.3333% - 26px);
      margin: 0 15px 100px;
    }
    @media @bw1020 {
      width: calc(50% - 15px);
      max-width: 405px;
      margin: 0 15px 80px;
    }
    @media @bw768 {
      margin: 0 10px 80px;
    }
    @media @bw650 {
      width: 100%;
      margin: 0 0 60px;
    }
  }
}