.page-footer {

  &__container {

    .container();
  }

  &__inform {
    display: flex;
  }

  &__structure {
    flex: 1;
    margin: 0;
  }

  &__letter {
    flex: 1;
    // display: flex;
  }

  &__script {
    display: flex;
  }

  &__nav {
    padding: 0 0 0 20px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: @red;
      width: 4px;
      height: 198px;
    }
  }

  &__nav-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: @black;
    line-height: 22px;
    font-family: @font1;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: @red_dark;
    }
  }

  &__check {
    display: block;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
    font-family: @font1;
    color: @black;

  }

  &__submit {
    width: 135px;
    height: 49px;
  }

  &__label {
    flex: 1;
    width: 270px;
    height: 64px;
  }

  &__btn {
    flex: 1;
    width: 135px;
    height: 49px;
  }

  &__feature {
    text-align: center;
    margin-bottom: 60px;
  }

  &__Millennials {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 400;
    font-family: @font1;
    color: @black;
  }

  &__signature {
    position: relative;
    margin-bottom: 73px;
    display: grid;
    gap: 22px 5px;
    grid-template-columns: 323px 265px 102px 344px 212px 80px 1fr;
    // grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas:
      "confident Cookies insta vk promotion logotip";
  }

  &__confident {
    grid-area: confident;
    font-size: 16px;
    font-weight: 600;
    font-family: @font1;
    color: @black;
    // background-color: green;
  }

  &__Cookies {
    grid-area: Cookies;
    font-size: 16px;
    font-weight: 600;
    font-family: @font1;
    color: @black;
    // background-color: green;
  }

  &__insta {
    grid-area: insta;
    position: absolute;
    top: -10px;
    // background-color: red;
  }

  &__vk {
    grid-area: vk;
    position: absolute;
    top: -10px;
    // background-color: red;
  }

  &__promotion {
    grid-area: promotion;
    font-size: 16px;
    font-weight: 600;
    font-family: @font1;
    color: @black;
    // background-color: red;
  }

  &__logotip {
    grid-area: logotip;
    position: absolute;
    top: 10px;
    // background-color: blue;
  }

}