.upcoming {
  padding: 100px 0 100px;

  @media @bw1340 {
    padding: 100px 0 100px;
  }

  @media @bw768 {
    padding: 80px 0 43px;
  }

  @media @bw370 {
    padding: 60px 0 100px;
  }

  &__container {
     @media @bw370 {
      max-width: 340px;
      padding: 0;
      margin: 0;
     }
    .container();
  }

  &__listing {
    margin-bottom: 100px;
  }

  &__img {
    position: absolute;
  }

  &__wrapper {
    display: flex;
    position: relative;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 1922px;
      height: 1236px;
      // max-height: 100%;
      // background-color: rgba(255, 255, 255, 0.6);
      z-index: -1;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: 1922px 1236px;
      background-image: url(../assets/images/rectangle.svg);

  //      @media @bw1340 {
  //        background-size: 1340px 1170px;
  //   max-width: 1340px;
  //     height: 1170px;
  // }

  // @media @bw768 {
  //    background-size: 768px 928px;
  //   max-width: 768px;
  //     max-height: 928px;
  // }

  // @media @bw370 {
  //    background-size: 320px 859px;
  //   max-width: 320px;
  //     height: 859px;
  // }
    }
  }
}