


.offers__title {
  grid-area: text;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  font: Lora;
  height: 30px;
}

.offers__btns {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offers__btn btn btn--red {
  width: 272px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 15px 40px 15px 40px;
}

.btn--red {
  display: inline-flex;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.about__section-title section-title {
  width: 533px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 200px 0 0 auto;
}



