html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 680px;
  padding-top: 147px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #1f1e1e;
  font-style: normal;
  font-weight: 400;
}

.page-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  background-color: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(20px);
  z-index: 100;
}

.page-header__container,
.about_container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
}

.page-header__logo{
  flex-shrink: 0;
  font-size: 0;
  width: 202px;
  height: 147px;
}

.page-header__logo-icon{
  width: 100%;
  height: 100%;
}

.page-header__nav {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  gap: 50px;
}

.page-header__nav-link {
  /* margin: 0.25px; второй вариант*/
  color: #1f1e1e;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-decoration: none;
  transition: color 0.2s;
}

.page-header__nav-link:hover {
  color: #bc3324;
}

.page-header__right-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 202px;
}

.btn {
  display: inline-flex;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.section-title {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 150px;
  width: 100%;
  max-width: 624px;
  padding: 7px 45px 9px;
  background-color: #1f1e1e;
  color: #ffffff;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.28;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #1f1e1e;
  color: #ffffff;
}

.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1414px;
  padding-left: 40px;
  padding-right: 40px;
}

.listing__events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 120px 60px;
}

.events {
  padding: 140px 0 150px;
}

.main {
  flex: 1 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
}

.page-footer {
  flex: 0 0 auto;
  background-color: blue;
  height: 455px;
}

.event-card {
  display: flex;
  width: 405px;
  max-width: 100%;
  min-width: 280px;
}

.event-card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #1f1e1e;
  text-decoration: none;
}

.event-card__link:hover .event-card__title {
  color: #bc3324;
  text-decoration-color: #bc3324;
}

.event-card__picture {
  display: block;
  position: relative;
  margin: 0 0 25px;
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
}

.event-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.event-card__ing {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card__title {
  margin: 0 0 15px;
  min-height: 65px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.375;
  text-decoration: underline transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
}

.event-card__description {
  margin: 0 0 auto;
}

.event-card__time {
  margin: 15px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.35;
}

.listing__event-card {
  width: calc(33.333% - 40px);
}

.event {
  padding: 40px 0 150px;
}

.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas: 
    "checks scheme"
    "order legend"; 
  width: 100%;
}

.reserve__checks {
  grid-area: checks;
}

.reserve__scheme {
  grid-area: scheme;
}

.reserve__order {
  grid-area: order;
}

.reserve__legend {
  grid-area: legend;
}

.reserve > div {
  box-sizing: border-box;
  padding: 10px;
  background-color: coral;
  text-align: center;
}

.about__block2{
  display: grid;
  grid-template-columns: 1fr 406px;
  gap: 90px 60px;
  grid-template-areas:
  "pic1 pic2"
  "title pic2"
  "text text";
}

.about__picture1 {
  grid-area: pic1;
}

.about__title{
  grid-area: title;
  margin: 10px 0 0;
  font-size: 44px;
  font-weight: 700;
}

.about__picture2 {
  grid-area: pic2;
  align-self: flex-end;
}
.about__text {
  grid-area: text;
  margin: 0 80px 0 auto;
  max-width: 870px;
  width: 100%;
}

.main-header__Lenni {
  height: 325px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 1920px;
  flex-direction: column;
  position: relative;
  display: block;
  margin: 0 0 25px;
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
}

.main-header__heading {
  grid-area: text;
  width: 100%;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  font: Lora;
  height: 58px;
}

.main-header__paragraph {
  grid-area: text;
  width: 100%;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  font: Lora;
  height: 58px;
}

.main-header_container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
}

.offers__title {
  grid-area: text;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  font: Lora;
  height: 30px;
}

.offers__btns {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offers__btn btn btn--red {
  width: 272px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 15px 40px 15px 40px;
}

.btn--red {
  display: inline-flex;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.about__section-title section-title {
  width: 533px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 200px 0 0 auto;
}